#footerSegment {
    height: 30vh;
    background-image: url('../images/footer.jpg');
    background-size: cover;
    background-position: center;
}

#footerTitle {
    font-size: 3em ;
}

#fixedResume:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#fixedAbout:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#fixedContact:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ui.grid {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    #footerTitle{
        font-size: 2.3em;
    }

    #footerSegment {
        height: 60vw;
    }

}