.ui.inverted.segment.headerSegment {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

.item {
    margin: 0;
    text-align: center;
}

#desktopMenu {
    border: 0;
    width: fit-content;
    margin: 0 auto;
}

#logo {
    margin: 0 auto;
}

#mobileSidebarIcon{
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobileItem {
        font-size: 1.8em;
        font-weight: 600 !important;
    }

    #desktopMenu {
        display: none;
    }    

    #mobileSidebarIcon{
        z-index: 1;
        display: block;
        position: absolute;
        margin-top: 0.7em;
        margin-right: 0.7em;
    }

}