#hireNowTitle {
    font-weight: 300;
    font-size: 4em;
}

#hireNowSegment {
    height: auto;
    background-color: #1A1C1D ;
}

#hireNowGrid {
    height: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

#hireNowDescription {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    #hireNowTitle {
        font-weight: 600 !important;
        font-size: 1.7em;
    }

    #hireNowSegment {
        height: auto;
        background-color: #1A1C1D ;
    }

    #hireNowGrid {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }

    #hireNowDescription {
        width: 90%;
    }

}