@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap');


.ui.segment {
    margin: 0 ;
    border: none !important;
}

.ui {
    font-family: 'Muli', sans-serif !important;
}

body {
    background-color: #1A1C1D !important;
}

.imageStyling {
    border-radius: 6px;
    height: 35em;
    width: 25em;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .imageStyling {
        height: 30em;
        width: 20em;
    }
}