@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap');


.ui.segment {
    margin: 0 !important;
    border: none !important;
}

.ui {
    font-family: 'Muli', sans-serif !important;
}

body {
    background-color: #1A1C1D !important;
}