#canvasSegment {
    margin-top: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    background-color: #1A1C1D;
}

#titleContainer {
    z-index: 1;
    position: absolute;
    width: 95%;
    left: 3%;
    top: 42%;
}

#titleText {
    font-size: 5em;
    color: white;
}

#invertedBtn {
    border-radius: 2px;
    color: #FFF !important;
    border-color: #eac734 !important;
    border: solid 2px;
    box-shadow: none !important;
}   

#invertedBtn:hover {
    color: #424242 !important;
    background-color:#eac734 !important;
    box-shadow: none !important;
}  

@media only screen and (max-width: 768px) {
    #pixiRenderArea {
        display: none;
    }

    #canvasSegment {
        background-image: url('../images/test_original.png') ;
        background-position: center;
        background-size: cover;
    }

    #titleText {
        font-size: 1.9em;
        margin-bottom: 20px;
    }

    #titleContainer {
        z-index: 0;
    }

}