#myPassionSegment{
    height: 105vh;
}

#text {
    font-size: 0.7em !important;
    text-align: justify;
}

#h2 {
    font-size: 2em;
}

#passionGrid {
    height: auto;
    width: 100%;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
    #h2 {
        font-size: 1.3em;
    }

    #myPassionSegment{
        height: auto;
    }    

    #passionGrid {
        top: 0;
        transform: none;
    }

}