#resumeSegment {
    height: auto;
}

#resumeGrid {
    height: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.resumeSkills {
    font-size: 1.35em;
    height: 100%;
}

.resumeUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resumeLi {
    margin-bottom: 7px;
}

.categoryLabel {
    font-size: 4em;
    font-weight: 300;
}

.label {
    color: #e3c030;
    font-size: 1.6em;
}

.years {
    color: black;
    font-size: 0.8em;
}

.p {
    text-align: justify;
}

@media only screen and (max-width: 768px) {

    .resumeSkills {
        height: auto;
    }
    
    .resumeUl {
        text-align: left;
    }
}