#skillsSegment{
    height: 70vh;
    background-color: #1A1C1D ;
    padding: 0;
}

#skillsGrid{
    height: auto;
    width: 100%;
    margin: 0;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.ui.text.container {
    width: fit-content;
    font-size: 1.6em !important;
   
}

.skillsH2 {
    font-weight: bold;
    vertical-align: top;
    color: #e3c030;
}


.noBullet {
    list-style-type: none;
}

#segmentTitle {
    font-size: 3em ;
}

#p {
    font-size: 1.1em;
    width: 75%;
    margin: 0 auto;
    text-align: justify;
}


@media only screen and (max-width: 768px) {
    #skillsSegment{
        height: 105vh;
    }

    #segmentTitle {
        font-size: 2em;

    }

    #mobileFontSize{
        font-size: 0.9em;
    }

    .noBullet {
        list-style-type: disc;
    }
    
}