#skillsSegment{
    height: auto;
    background-color: #1A1C1D ;
    padding: 0;
}

#skillsGrid{
    height: auto;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
}


.ui.text.container {
    width: fit-content;
    font-size: 1.35em !important;
   
}

.skillsH2 {
  font-weight: bold;
  vertical-align: top;
  color: #e3c030;
  margin-bottom: none;
}


.noBullet {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

#segmentTitle {
    font-size: 3em ;
}

#p {
    font-size: 1.35em;
    margin: 0 auto;
    text-align: justify;
}

#mobileFontSize {
  text-align: center;
}


@media only screen and (max-width: 768px) {

    #segmentTitle {
      font-size: 2em;
    }

    #mobileFontSize{
      font-size: 0.9em;
    }

    .noBullet {
      list-style-type: none;
    }

    #p {
      width: 80%;
    }
    
}