.ui.inverted.segment.headerSegment {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

#desktopMenu {
    border: 0;
    width: fit-content;
    margin: 0 auto;
}

#desktopLogo {

    margin: 0 auto;
}